{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesNavigationController!{% endblock %}

{% block body %}


    <h1>Liste des articles</h1>

    {{ form_start(ArticleSearchForm) }}

        {{ form_widget(ArticleSearchForm) }}

        <button type="submit" class="btn">Valider</button>
    {{ form_end(ArticleSearchForm) }}

    <div data-controller="favorite" >
        {% for article in articles %}
            <article>
                <h2>{{article.name}}</h2>
                <h3>à {{article.citName}}</h3>
                <h4>{{article.catName}}</h4>           
                <p>{{article.price}} €</p>
                <p>Description : {{article.description}}</p>
                <p>Vendu par : {{article.uName}}</p>
                <button class="add" data-action="favorite#add" data-link="{{path("favorite_add", {id : article.id})}}">ajouter aux favoris</button>
                {# <input type="button" value="text"> #}
            </article>
    	{% endfor %}
    </div>
{% endblock %}
