{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}
<h1>mes articles</h1>
<h3><a href="{{path("app_article_add")}}">créer un annonce</a></h3>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>date de création</th>
            <th>prix</th>
            <th>categorie</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{article.name}}</td>
                <td>{{article.createdAt|date(("m/d/Y"))}}</td>
                <td>{{article.price|number_format(2, '.', ',')}} €</td>
                <td>{{article.category.name}}</td>
                <td><a href="{{path("app_article_update", {"id" : article.id}) }}">Modifier</a></td>
                <td><a href="{{path("app_article_delete", {"id" : article.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

